*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}
body,html{
    height: 100%;
    width: 100%;
}
.loop>h1>span{
    -webkit-text-stroke: 1.2px black;
    color: transparent;
}
.loop>h1{
    animation:animate 15s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
        
    }
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}
#nav>h3{
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
}
#nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    border: none;
}