*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}
body,html{
    height: 100%;
    width: 100%;
}
.loop>h1>span{
    -webkit-text-stroke: 1.2px black;
    color: transparent;
}
.loop>h1{
    animation:animate 15s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
        
    }
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}
#nav>h3{
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
}
#nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    border: none;
}
.young{
    padding: 20px;
}
@media screen and (max-width: 600px) {
    #nav>h3{
        font-size: 16px;
    }
    #nav>button{
        padding: 5px 10px;
        font-size: 10px;
    }
    
}

/* CSS for the Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Change as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Make sure it's on top of everything else */
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0,0,0,0.1);
    border-top: 5px solid #000; /* Change color as needed */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  